body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    position: relative;
    width: 1600px;
    height: 2350px;
    background: #FFFFFF;
    padding: 0px;
    

}
 .logo{
     font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
 }
 .span-logo{
     color: #000;
 }
 .nav-list a {
     color: #212121;
 }
 .nav-list a:hover, 
 .nav-list a:focus  {
     color: #2196F3;
 }
 .contakt-item > a {
     color: #757575;
 }
.contakt-item > a:hover

{
     color: #2196F3;
 }