body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--page-text-color);

}

:root{
    --primary-text-color: #212121;
    --title-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --page-text-color:#757575;
    --background-color:#FFFFFF;
    --background-color-main:#2F303A;
}
 .logo{
     font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
 }
 .span-logo{
     color: #000;
 }
 .nav-list a {
     color: #212121;
 }
 .nav-list a:hover, 
 .nav-list a:focus  {
     color: #2196F3;
 }
 .contakt-item > a {
     color: #757575;
 }
.contakt-item > a:hover

{
     color: #2196F3;
 }